<!DOCTYPE html>
<html>
<head>
  <title>Ruby rails mountable engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "ruby/rails/mountable/engine/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
